@import "../../../assets/globalStyles/base.scss";

.movie_row {
    position: relative;
    &_header {
        h1 {
            top: 3rem;
            padding-left: 4rem;
            font-weight: 500;
            color: $color-3;
        }
    }
    &_prev, &_next {
        position: absolute;
        top: 50%;
        background-color: transparent;
        border: none;
        outline: none;
        i {
            font-size: 4rem;
            font-weight: 300;
            color: $color-3;
            cursor: pointer;
            display: block;
            transform: all .3s;
            &:hover {
                transform: scale(1.25);
            }
        }
    }
    &_next{
        right: 0;
    }
}

.movie_list {
    display: flex;
    overflow: hidden;
    margin: 0;
    padding: 0;
    list-style: none;
    .movie_item {
        margin: 0 4px;
        img {
            width: 377px;
            height: auto;
            border-radius: 4px;
            &:hover {
                cursor: pointer;
                // width: auto;
                // transform: scale(1.25);
            }
        }
    }
}
