@import "../../../assets/globalStyles/base.scss";

.home_navigation {
    background-color: #111;
    position: relative;
    padding-top: 53.25%;
    &_main {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }
    &_title {
        font-size: 6rem;
        position: absolute;
        color: $color-3;
        top: 12rem;
        left: 3.5rem;
    }
    &_about {
        top: 28rem;
        left: 4rem;
        position: absolute;
        color: $color-3;
        width: 55rem;
        line-height: 1.3;
        padding-top: 2.5rem;
        font-size: 1.8rem;
    }
    &_control {
        position: absolute;
        top: 40rem;
        left: 4rem;
        display: flex;
        align-items: center;
        button {
            height: 40px;
            font-size: 1.6rem;
            outline: none;
            border: none;
            font-weight: 700;
            border-radius: 5px;
            padding-left: 3.5rem;
            padding-right: 3.5rem;
            margin-right: 1rem;
            padding-top: 1rem;
            padding-bottom: 1rem;
            &:nth-child(1) {
                background-color: $color-10;
                i {
                    color: $color-9;
                    margin-right: 8px;
                    font-size: 1.4rem;
                }
            }
            &:nth-child(2) {
                background-color: rgba(112, 111, 111, 0.5);
                color: $color-3;
                margin-left: 8px;
                i {
                    color: $color-3;
                    margin-right: 8px;
                }
            }
        }
    }
    &_control_sound {
        position: absolute;
        height: 52px;
        width: 52px;
        top: 45rem;
        right: 14rem;
        cursor: pointer;
        border-radius: 50%;
        padding: 1rem;
        border: $color-3 solid 1px;
        background-color: transparent;
        i {
            color: $color-3;
            font-size: 3rem;
        }
    }
}
