@import "../../../assets/globalStyles/base.scss";

.mem {
    &_overlay {
        display: block;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: rgba(1, 1, 1, 35%);
        z-index: 999;
    }
    &_container {
        position: fixed;
        top: 55px;
        left: 50%;
        transform: translateX(-50%);
        background-color: $color-3;
        z-index: 9999;
        border-radius: 4px;
        padding: 12px;
        width: 450px;
    }
    &_header {
        text-align: center;
        border-bottom: 1px solid $color-1;
    }
    &_footer{
        display: flex;
        justify-content: flex-end;
        div{
            button{
                margin-left: 12px;
                font-size: 1.4rem;
                height: 35px;
                width: 80px;
                border: none;
                outline: none;
                color: $color-3;
                cursor: pointer;
                &:nth-child(1){
                    background-color: $color-18;
                    &:hover{
                        background-color: $color-19;
                    }
                }
                &:nth-child(2){
                    background-color: $color-15;
                    &:hover{
                        background-color: $color-16;
                    }
                }
            }
        }
    }
}
.form-group {
    label {
        display: block;
        font-size: 1.4rem;
        margin-bottom: 12px;
    }
    p{
        display: block;
        margin: 8px 0 0 0;
        color: $color-18;
        font-size: 1.4rem;
    }
    input , textarea{
        width: 432px;
        padding:  8px;
        height: 35px;
        font-size: 1.6rem;
        border: 1px solid $color-2;
        outline: none;
        border-radius: 4px;
        &:focus{
            border: 1px solid $color-9;
            box-shadow: 1px 2px 5px rgba(1,1,1,25%);
        }
    }
    textarea{
        height: 120px;
        max-height: 120px;
        min-width: 432px;
        min-height: 120px;
        max-width: 432px;
    }
    margin: 0 0 22px 0;
}
