@import "../../../assets/globalStyles/base.scss";

.modal {
    position: fixed;
    z-index: 500;
    left: 0;
    width: 100%;
    height: 52rem;
    animation: all 0.3s;
    transition: 0.7s linear;
    opacity: 1;
    &_container {
        background: linear-gradient(90deg, #000 50%, transparent);
        width: 70%;
        padding-top: 3rem;
        height: 100%;
        padding-left: 5rem;
    }
    &_title {
        font-size: 4rem;
        color: $color-3;
    }
    &_info {
        color: $color-3;
        font-size: 2rem;
        padding-top: 1.6rem;
        span {
            color: $color-11;
        }
    }
    &_episode {
        color: $color-3;
        font-size: 2rem;
        padding-top: 0.5rem;
    }
    &_overview {
        color: $color-12;
        width: 60%;
        font-size: 1.8rem;
        line-height: 2.2rem;
        padding-top: 2rem;
    }
    &_control {
        display: flex;
        button {
            text-transform: uppercase;
            font-weight: 500;
            cursor: pointer;
            background-color: transparent;
            color: #fff;
            border: 0.5px solid #7a7a7a;
            border-radius: 2px;
            font-size: 1.5rem;
            margin-top: 2rem;
            margin-right: 1rem;
            padding: 1rem 2rem 1rem 2rem;
            transition: all 0.3s;
            &:hover {
                transform: scale(1.09);
            }
            &:nth-child(1) {
                background-color: $color-13;
                border: none;
            }
        }
    }
}
.overlay {
    width: 120%;
    height: 100%;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    animation: fadeIn 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
    background-color: rgba(17, 17, 17, 0.7);
    animation: all 0.3s;
    transition: 0.7s linear;
    opacity: 1;
}
