$color-1: #ddd;
$color-2: #a7a7a7;
$color-3: #fff;
$color-4: #494949;
$color-5: #40a8e4;
$color-6: #e69130;
$color-7: #7be660;
$color-8: #111111;
$color-9: #000;
$color-10:#e6e6e6;
$color-11:#5cdf5c;
$color-12:#797979;
$color-13:rgba(248,6,22,0.870588);
$color-14:#f05858;
$color-15:#469ef4;
$color-16:#2f80ed;
$color-18:#ff6801;
$color-19:#fd475a;


a {
    list-style: none;
    text-decoration: none;
}
