@import "../../assets/globalStyles/base.scss";

.not-found {
    padding: 42px 0;
    background-color: $color-3;
    height: 100vh;
    h2 {
        text-align: center;
        font-size: 12rem;
        color: red;
    }
    h1 {
        text-align: center;
    }
    p {
        text-align: center;
        font-size: 1.6rem;
    }
    div {
        display: flex;
        justify-content: center;
        a {
            background-color: $color-13;
            color: $color-3;
            padding: 12px;
            font-size: 1.4rem;
            border-radius: 12px;
        }
    }
}
